body{
  text-align: center;
}

h1{
  font: 50px impact;
}
h2{
  font: 30px Verdana;
}
#text1{
  height:50px;
  font-size: 14pt;
}
#club-name{
  height:50px;
  font-size: 14pt;
}
#button{
  height:80px;
  font: 18pt tahoma;
}
@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
    }
  }
@keyframes fadeInUp{
  0%{
    opacity:0;
    transform:translate3d(0,100%,0);
    }
  100%{
    opacity:1;
    transform:none;
    }
  }
@keyframes fadeInRight{
  0%{
    opacity:0;
    transform:translate3d(100%,0,0);
  }
  100%{
    opacity:1;
    transform:none;
    }
  }