
body{
  background-image: url('https://cdn.digitaldjtips.com/app/uploads/2012/10/16011400/How-To-Book-Guest-DJs-For-Your-Club-Night-Part-1-copy-1204x642.jpg');
  width:100vw;
  height:100vh;
  background-color: #8574b7;
  background-position: 50% 50%;
  background-size: cover;
  overflow:hidden;
  color:white;
}
.song{
  background-color: #0000003d;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10pt;
  margin: 4px 2px;
}

h1{
  font: 50px impact;
}
h2{
  font: 30px Verdana;
  color: "white";
}
#text1{
  height:50px;
  font-size: 14pt;
}
#club-name{
  height:50px;
  font-size: 14pt;
}
@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
    }
  }
@keyframes fadeInUp{
  0%{
    opacity:0;
    transform:translate3d(0,100%,0);
    }
  100%{
    opacity:1;
    transform:none;
    }
  }
@keyframes fadeInRight{
  0%{
    opacity:0;
    transform:translate3d(100%,0,0);
  }
  100%{
    opacity:1;
    transform:none;
    }
  }